@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
 /* Estilo general */
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f7fa; /* Fondo claro con temática de agua */
      color: #333;
      line-height: 1.6;
    }

    /* Contenedor principal */
    .container {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
    }

    /* Encabezado */
    header {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        min-height:100vh;
        background: linear-gradient(180deg, #4a90e2, #87ceeb); /* Gradiente azul agua */
        color: white;
        font-size: 5vh;
        font-family: "Nanum Myeongjo", serif;
        font-weight: 400;
        font-style: normal;
    }

    header h1 {
      margin: 0;
      font-size: 2.5em;
    }

    /* Secciones */
    section {
      background: white;
      padding: 30px;
      margin: 20px 0;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    section h1{
        color: #4178b6; /* Azul claro para títulos */
      font-size: 2.2em;
      margin-bottom: 15px;
      border-bottom: 2px solid #87ceeb;
      padding-bottom: 10px;
    }
    section h2 {
      color: #4a90e2; /* Azul claro para títulos */
      font-size: 1.8em;
      margin-bottom: 15px;
      border-bottom: 2px solid #87ceeb;
      padding-bottom: 10px;
    }

    section p {
      font-size: 1.1em;
      color: #555;
    }

    /* Footer */
    footer {
      text-align: center;
      padding: 10px;
      background-color: #4a90e2;
      color: white;
      position: relative;
      bottom: 0;
      width: 100%;
    }

    /* Estilo responsivo */
    @media (max-width: 600px) {
      .container {
        padding: 10px;
      }

      header h1 {
        font-size: 2em;
      }

      section h2 {
        font-size: 1.5em;
      }

      section p {
        font-size: 1em;
      }
    }